.wcqf-quanity-text .quantity:before {
  margin-right:10px
}
.wcqf-quanity-text .quantity {
  margin-bottom: 15px;
}
.wcqf-quanity-text .quantity{
  margin-bottom: 0;
}
.woocommerce .wcqf-quanity-text .quantity input{
  padding: 0 8px;
  text-align: left;
  width: 60px;
}