.wcqf_default {
	.quantity {
		margin-bottom: 15px;
		&:before{
			margin-right:10px
		}
		input{
			padding: 0 8px;
			text-align: left !important;
			width: 60px !important;
			height: 36px;
		}
	}
}

//Layout Style Two

.wcqf_stle_layout1 {
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 140px;
	.qty-minus,
	.qty-plus {
		cursor: pointer;
		color: #222222;

		&:focus,
		&:hover {
			color: #fff;
			background-color: #222222;
		}
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	button,
	.qty{
		height: 40px;
		border:none !important;
	}
	.qty {
		width: 50px !important;
		padding: 0;
		background-color: #f5f5f5;
		border-radius: none;
	}
	button{
		background-color: #fff;
		width: 45px;
	}
}
.wcqf-quantity-wrapper{
	margin-top: 15px;
	.quantity{
		display: flex;
		align-items: center;
		.wcqf-quantity-text{
			margin-right: 10px;
		}
	}
	button:disabled {
		pointer-events: none;
		opacity: 0.5; /* Makes it look visually disabled */
		cursor: not-allowed;
		background: #f5f5f5;
	}
}



