.sc-quantity-wrapper .quantity:before {
    content:"Quantity:";
    margin-right:10px
}
.sc-quantity-wrapper .quantity {
    margin-bottom: 15px;
}
.sc-quantity-wrapper .quantity{
    margin-bottom: 0;
}
.woocommerce .sc-quantity-wrapper .quantity input{
    padding: 0 8px;
    text-align: left;
    width: 60px;
}